In [1]:
from bs4 import BeautifulSoup

from selenium import webdriver
from selenium.webdriver.common.desired_capabilities import DesiredCapabilities
from selenium.webdriver.common.keys import Keys
from urllib.request import urlopen
import urllib.request as req

import re
import csv
import time
import pandas as pd
import numpy
from tqdm import tqdm
from tqdm import trange

In [64]:
def naver_crawling(url, loop, pagenum, rw_ele, pt_ele, dt_ele, pagexpath, name):
    # 드라이버
    driver = webdriver.Chrome('C:/myPyCode/analysis/chromedriver')
    driver.get(url)
    driver.implicitly_wait(20)
    

#     rw_box = driver.find_element_by_xpath(rwbox)
#     driver.execute_script("arguments[0].click();", rw_box)
#     driver.implicitly_wait(20)
#     rw_box.click()

    # 리뷰, 평점, 날짜 추가
    review = []
    point = []
    date = []
    for num in tqdm(range(loop)):
        for num in range(pagenum):
            # 리뷰, 평점, 날짜 선택
            rw = driver.find_elements_by_css_selector(rw_ele)
            pt = driver.find_elements_by_css_selector(pt_ele)
            dt = driver.find_elements_by_css_selector(dt_ele)
            
            # 리스트에 추가
            for x, i in enumerate(rw,1):
                review.append(i.text)

            for x, i in enumerate(pt,1):
                point.append(i.text)

            for x, i in enumerate(dt,1):
                date.append(i.text)
                
            # 페이지넘기기
            page_num = pagexpath.format(num+3)
            driver.find_element_by_xpath(page_num).click()
            print(page_num)
            time.sleep(3)


    print(len(review))
    print(len(point))
    print(len(date))
    
    # CSV 파일 저장
    pd.DataFrame(review[:]).to_csv("naver_{}_review.csv".format(name), encoding="utf-8-sig")
    pd.DataFrame(point[:]).to_csv("naver_{}_point.csv".format(name), encoding="utf-8-sig")
    pd.DataFrame(date[:]).to_csv("naver_{}_date.csv".format(name), encoding="utf-8-sig")

In [73]:
naver_crawling(url="https://search.shopping.naver.com/catalog/22962597490",
               loop=2,
               pagenum=11,
               rw_ele="div.reviewItems_review_text__2Bwpa > p",
               pt_ele="span.reviewItems_average__16Ya-",
               dt_ele="div.reviewItems_etc_area__2P8i3 > span:nth-child(4)",
               pagexpath="""//*[@id="section_review"]/div[3]/a[{}]""",
               name="niasin2")

  0%|                                                                                            | 0/2 [00:00<?, ?it/s]

//*[@id="section_review"]/div[3]/a[3]
//*[@id="section_review"]/div[3]/a[4]
//*[@id="section_review"]/div[3]/a[5]
//*[@id="section_review"]/div[3]/a[6]
//*[@id="section_review"]/div[3]/a[7]
//*[@id="section_review"]/div[3]/a[8]
//*[@id="section_review"]/div[3]/a[9]
//*[@id="section_review"]/div[3]/a[10]
//*[@id="section_review"]/div[3]/a[11]
//*[@id="section_review"]/div[3]/a[12]
//*[@id="section_review"]/div[3]/a[13]

 50%|██████████████████████████████████████████                                          | 1/2 [00:43<00:43, 43.13s/it]

//*[@id="section_review"]/div[3]/a[3]
//*[@id="section_review"]/div[3]/a[4]
//*[@id="section_review"]/div[3]/a[5]
//*[@id="section_review"]/div[3]/a[6]
//*[@id="section_review"]/div[3]/a[7]
//*[@id="section_review"]/div[3]/a[8]
//*[@id="section_review"]/div[3]/a[9]
//*[@id="section_review"]/div[3]/a[10]
//*[@id="section_review"]/div[3]/a[11]
//*[@id="section_review"]/div[3]/a[12]
//*[@id="section_review"]/div[3]/a[13]

100%|████████████████████████████████████████████████████████████████████████████████████| 2/2 [01:25<00:00, 42.60s/it]

440
440
440

In [74]:
pd.read_csv("naver_niasin2_date.csv", index_col=0)

             0
0    20.04.03.
1    21.01.08.
2    21.01.09.
3    20.05.16.
4    20.05.16.
..         ...
435  20.02.15.
436  20.05.20.
437  20.02.01.
438  20.05.27.
439  20.02.03.

[440 rows x 1 columns]

In [75]:
pd.read_csv("naver_niasin2_point.csv", index_col=0)

       0
0    평점5
1    평점5
2    평점4
3    평점5
4    평점5
..   ...
435  평점5
436  평점4
437  평점4
438  평점5
439  평점5

[440 rows x 1 columns]

In [76]:
pd.read_csv("naver_niasin2_review.csv", index_col=0)

                                                     0
0    1. 배송: 2일 오후 12시에 결재 후 3일 오후5시에 받앗으니 하루만에 총알 배...
1    제가 무딘편이라 향은 잘 모르겠고 색깔이 너무 이뻐요\n흡수 진짜 잘되고 첫사용이라...
2    각질제거제랑 같이 구매했습니다. 무엇보다 가격이 괜찮아서 같이사도 부담이 안된다는 ...
3    나이아신 아마이드 효과가 만능연고인줄은 알고 있었지만 10퍼센트짜리로 직접 써보니까...
4    포장 상품 모두 만족해요~\n발림성 좋구요\n촉촉해요\n발랐을땐 끈적거림이있는데\n...
..                                                 ...
435                                        빠른 배송 감사합니다
436                         다른 화장품에 섞어 쓰고 있어요 저렴해서 좋네요
437                                  재구매해요~잘쓸게요 많이파세요!
438          항상 쓰는제품라 믿고 씁니다\n바른 직후 찐뜩거리는거 빼고 모두 만족입니다
439                                     사용하고 있는데 괜찮습니다

[440 rows x 1 columns]